* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to bottom, #1D8348, #82E0AA);
}

li {
    display: inline;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    padding: 0.5rem 0.5rem;
    font-size: 13px;
    font-weight: bold;
}

a:hover {
    cursor: pointer;
}

hr {
    margin: 1.5rem 20rem 1.5rem 23rem;
    opacity: 0.6;
}

span {
    font-style: italic;
    padding-right: 0.5rem;
}

nav span {
    display: none;
}

p {
    color: #000;
    line-height: 1.3;
}

h2 {
    font-size: 2rem;
    margin: 1.5rem 0 1.5rem 1rem;
    padding: 1rem;
}

h3 {
    font-size: 1rem;
    padding: 0 20px 20px 20px;
}

/*Header*/
.header__logo {
    width: 25rem;
    height: 5rem;
}

/*transition*/
a.nav-link {
    transition: transform 0.3s, color 0.5s, underline 0.5s;
    padding: 1rem;
}

a.nav-link:hover {
    transform: scale(1.2);
    color: rgb(20, 13, 59);
    text-decoration: underline;
    text-decoration-color: #1D8348;
}

/*h1 inicio*/
.imagen__inicio {
    background-image: url(./assets/img-inicio1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 30rem;
    margin: 0 1rem 2rem 0;
    padding: 2rem;
}

.imagen__inicio h1 {
    position: relative;
    display: inline-block;
    color: #fff;
    top: 25rem;
    left: 14rem;
    animation: h1Moves 2s alternate;
}

/*animaciones*/
@keyframes h1Moves {
    0% {
        left: -10rem;
    }

    100% {
        left: 14rem;
    }
}

/*pilares*/
.pilares__content {
    margin-top: 2rem;
}

.pilares__content--card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pilares__div {
    order: 2;
}

.pilares__description2 {
    order: 1;
}

.pilares__img1,
.pilares__img2 {
    width: 30rem;
    height: 20rem;
    margin: 1rem 3rem;
    border-radius: 0.5rem;
}

.pilares__content--card p {
    text-align: center;
    font-size: 1.6rem;
    margin: 0 1rem;
    padding: 1rem;
}

/*services*/

.services__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-items: center;
}

.card {
    background-color: #fff;
    padding: 1.5rem;
    margin: 1rem auto;
    border: 1px solid rgb(160, 157, 157);
    width: 15rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 0.5rem;
}

.card__header img {
    width: 5rem;
    height: 5rem;
}

a.card--link {
    text-decoration: underline;
    text-transform: lowercase;
    background-color: rgba(236, 181, 119, 0.8);
    margin: 0.1rem 0.3rem;
    padding: 0.1rem 0.3rem 0.3rem 0.3rem;
    color: rgb(20, 13, 59);
    transition: font-size 0.3s;

}

a.card--link:hover {
    font-size: larger;
}

/*galery*/

h2.galery__index,
.content__contacto--index {
    color: rgb(20, 13, 59);
    margin-bottom: 1rem;
}

.img__content {
    width: 100%;
    height: 30rem;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
}

/*contacto*/

.content__contacto {
    width: 100%;
    height: 30rem;
}

.content__contacto--address {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

iframe {
    width: 20rem;
    height: 20rem;
}
.contacto__lista--iconos {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 1rem auto 1rem 3rem;
    padding: 1rem;
}

.iconos--content {
    display: flex;
    margin: 1rem;
}

i.bi {
    margin-right: 0.5rem;
}

.contacto--contacto {
    margin-right: 2rem;
    padding-right: 2rem;
    text-align: center;
}

.contacto--contacto h3 {
    margin: 0 1rem;
    padding: 2rem 2rem;
    font-weight: bold;
}

.boton {
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-radius: 0.4rem;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s, font-size 1s, color 0.5s;
}

.boton:hover {
    background-color: rgba(236, 181, 119, 0.8);
    font-size: larger;
    color: #000;
}

/*footer*/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}

.contenedor__navbar,
.footer__copyright {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
}
p.footer__copyright{
    font-size: 0.7rem;
    font-weight: bold;
    margin-right: 2rem;
}

ul.contenedor__navbar--footer {
    list-style-type: none;
    padding-left: 0.5rem;
}

/*pages*/

.footer--pages {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.footer__copyright--pages {
    margin-top: 1rem;
    font-weight: bold;
}

/*page about us*/

video {
    width: 100%;
    height: 32rem;
    margin-bottom: 2rem;
    position: relative;
}

h2.titulo__nosotros,.titulo__services,
.titulo__galery,
.titulo__contacto {
    color: #f8f8ff;
    font-size: 28px;
    font-style: italic;
    position: absolute;
}
h2.titulo__nosotros {
    top: 32rem;
    left: 40rem;
    animation: h2Moves 2s alternate;
}

/*animacion*/
@keyframes h2Moves {
    0% {
        top: 5rem;
    }

    100% {
        top: 32rem;
    }
}

.nosotros {
    margin: 0 2rem;
    padding: 0 1rem 2rem 1rem;
}

.nosotros h2 {
    font-size: 2rem;
    padding: 2rem 1.5rem;
    text-decoration: underline;
    color: rgb(20, 13, 59);
}

.nosotros p {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0 3rem 1rem 3rem;
    margin: 0 6rem 1rem 6rem;
}

/*mobile last*/
@media(max-width: 768px) {

    /*index*/
    /*header*/
    .imagen__inicio h1 {
        position: relative;
        top: 10rem;
        left: 2rem;
    }
     /*animaciones*/
     @keyframes h1Moves {
        0% {
            left: -20rem;
        }

        100% {
            left: 2rem;
        }
    }

    hr {
        width: 25rem;
        margin: 2rem auto;
    }

    /*pilares*/
    .pilares__content--card {
        flex-wrap: wrap;
    }

    .pilares__content--card img {
        display: block;
        width: 35rem;
    }

    .pilares__content--card p {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .pilares__div {
        order: 1;
    }

    .pilares__description2 {
        order: 2;
    }

    /*servicios*/
    .services__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    /*galery*/
    
    h2.galery__index,.content__contacto--index {
        margin: 1rem;
        font-size: 22px;
    }

    .img__content {
        height: 20rem;
    }

    /*contacto*/
    .content__contacto {
        height: 40rem;
    }

    .content__contacto--address {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr 1fr;
        justify-items: center;
        margin-top: 2rem;
    }

    iframe {
        width: 15rem;
        height: 15rem;
        margin-bottom: 2rem;
    }

    .contacto--contacto {
        position: relative;
        left: 14rem;
        bottom: 1rem;
    }

    .content__lista--iconos {
        margin: 0.5rem
    }

    .contacto__lista--iconos p{
        font-size: 14px;
    }
/*footer*/
    .footer {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .contenedor__navbar--footer {
        display: none;
    }

    .footer__copyright {
        margin-top: 2rem;
        padding-bottom: 1rem;
        font-weight: bold;
    }
    p.footer__copyright{
        font-size: 1rem;
        margin-right: 5rem;
        padding-right: 3rem;
    }

    .footer__icons {
        margin-top: 0.5rem;
    }

    /*pages*/
    /*about us*/

    video {
        height: 100%;
    }

    h2.titulo__nosotros {
        top: 17rem;
        left: 15rem;
        animation: h2Moves 2s alternate;
    }

    /*animacion*/
    @keyframes h2Moves {
        0% {
            top: 5rem;
        }

        100% {
            top: 17rem;
        }
    }

    .footer__copyright--pages {
        margin-top: 1rem;
        padding-top: 1rem;
    }

}  
@media(max-width:480px) {

    .navbar {
        flex-wrap: wrap;
    }

    .header__logo {
        width: 100%;
    }

    .contenedor__navbar--list {
        display: none;
    }

    hr {
        width: 10rem;
        margin: 2rem 3rem 0.5rem 8rem;
    }
    .imagen__inicio {
        height: 20rem;
        margin: 0 auto;
    }

    h1.titulo__inicio {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin-right: 2rem;
        top: 7rem;
        animation: h1Moves 1s alternate;
    }

    /*animaciones*/
    @keyframes h1Moves {
        0% {
            top: -15rem;
        }

        100% {
            top: 7rem;
        }
    }

    /*pilares*/

    .pilares__content--card img {
        margin: 0.5rem 0.5rem 0.5rem 1rem;
        padding: 0.5rem;
        width: 100%;
        border-radius: 1rem;
    }

    .pilares__content--card p {
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        margin: 0 auto;
        padding: 1rem 2rem 1rem 1rem;
    }

    /*services*/
    
    .services__grid {
        grid-template-columns: 1fr;
        margin: 1rem auto;
    }

    .card {
        height: 25rem;
    }

    .card__header img {
        margin: 1rem auto;
    }

    /*galery*/
    
    .img__galery {
        text-align: center;
        margin-top: 1rem;
    }

    h2.galery__index,
    .content__contacto--index {
        text-align: center;
    }

    /*contacto*/
    .content__contacto {
        height: 60rem;
    }

    h2.content__contacto--index {
        margin: 1rem auto;
    }
    .content__contacto--address {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        position: relative;
    }

    iframe {
        margin: 1rem;
        width: 20rem;
        height: 20rem;

    }

    .contacto__lista--iconos {
        margin-top: 2rem;
    }

    .contacto--contacto {
        position: absolute;
        top: 42rem;
        left: 3rem;
    }

    .contacto--contacto h3 {
        font-size: 1.3rem;
    }

    .iconos--content p {
        margin-left: 1rem;
    }

    .boton {
        letter-spacing: 1px;
        padding: 1rem 2rem;
    }

    /*footer*/
    
    .footer {
        flex-wrap: wrap;
        margin-top: 0.5rem;
        padding: 0.5rem;
    }

    .footer__copyright,
    .footer__copyright--pages {
        margin: 0.5rem auto 0 auto;
        font-size: 0.7rem;
        text-align: center;
    }
    p.footer__copyright{
    margin-right: 0.5rem;
    padding-right: 0.5rem;
    }

    a.footer__icons {
        margin-bottom: 0;
    }

    /*pages*/
    /*page about us*/
    h2.titulo__nosotros {
        top: 12rem;
        left: 3rem;
        animation: h2Moves 2s alternate;
    }

    /*animacion*/
    @keyframes h2Moves {
        0% {
            top: 1rem;
        }

        100% {
            top: 12rem;
        }
    }

    .nosotros h2 {
        font-size: 26px;
        margin: 1rem;
        padding: 1rem;
    }

    .nosotros p {
        font-size: 1.2rem;
        margin: 1rem;
        padding: 1rem;
    }

    /*footer*/

    .footer--pages {
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
    }

    p.footer__copyright--pages {
        font-size: 1rem;
        padding: 1rem auto;
    }

    .footer__icons {
        margin: 1rem;
    }
}